{% raw %}{{{% endraw %}card,spellcard,--card_color:"var({{ color }})"
{% raw %}{{{% endraw %}cardheader,spellcardheader
#### {{ name }}
{% raw %}{{{% endraw %}spelllevel
#### {{ lvl }}
{% raw %}}}{% endraw %}
{% raw %}}}{% endraw %}
{% raw %}{{{% endraw %}spelldetails
|   |   |
|:-:|:-:|
|<h6>CASTING TIME</h6>{{ casting_time }}|<h6>RANGE</h6>{{ range }}|
|<h6>COMPONENTS</h6>{{ components_short }}|<h6>DURATION</h6>{{ duration }}|
{% raw %}}}{% endraw %}
{% raw %}{{{% endraw %}spellmaterials
{{ materials }}
{% raw %}}}{% endraw %}
{% raw %}{{{% endraw %}cardbody,spellcardbody,font-size:{{ font_size }};
{{ card_text }}
{% raw %}}}{% endraw %}
{%- if at_higher_levels %}
{% raw %}{{{% endraw %}cardbody,spellcardbody,font-size:{{ font_size }};
{{ at_higher_levels }}
{% raw %}}}{% endraw %}
{% endif %}
{% raw %}{{{% endraw %}spellcardfooter
|   |   |
|:--|--:|
|{{ source }}|{{ school }}|
{% raw %}}}
}}{% endraw %}
